<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>公交实时信息</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div class="container">
    <h1>公交实时信息</h1>

    <div class="announcement">
        <h2>公告</h2>
        <a href="https://github.com/ZhouBinxin/jiangshan_bus">Github</a>
    </div>

    <div class="search-box">
        <h2>搜索</h2>
        <form action="/search" method="GET">
            <input type="text" name="query" placeholder="请输入公交线路或站点">
            <button type="submit">搜索</button>
        </form>
    </div>

    <div class="bus-lines">
        <h2>线路信息</h2>
        {% for type, lines in names.items() %}
        <div>
            <h3>{{type}}</h3>
            {% for line in lines %}
            {% if line in run_names %}
            <a href="/lines/{{ line }}" class="line run">{{ line }}</a>
            {% else %}
            <a href="/lines/{{ line }}" class="line">{{ line }}</a>
            {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>

</div>
</body>
</html>
